<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bharmastra</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <script src="/js/query.js"></script>
  <script src="/js/display.js"></script>
  <script src="/js/scrape.js"></script>
  <script>const id = {{id}}</script>

</head>
<body >
    <div class="container">
        <h2><center>Brahmastra-client configuration user: {{id}}</center></h2><br/>
        <h5>configurations for the client:></h5>
        <br/>
        <table class="table">
  <thead>
    <tr>
      <th scope="col">Client-Email</th>
      <th scope="col">Container-Address</th>
      <th scope="col">RDP</th>
    </tr>
  </thead>
  <tbody>
    <tr>
    <td>{{id}}</td>
    <td>{{data.url}}</td>
    <td><a href="/api/rdp/{{id}}:8001">RDP URL</a></td>
    </tr>
  </tbody>
</table>
    </div>
    </body>
</html>
